<!--
 * FILE			         : AdminDashboard.cshtml
 * PROJECT		         : Clinic Booking System
 * PROGRAMMERS	         : Eumee Garcia
 * FIRST VERSION         : 2026-04-12
 * DESCRIPTION	         : The purpose of this is to...
-->
@model List<ClinicBookingSystem.Models.Appointment>

<div class="container">

    <h2 class="fw-bold mt-4">
        Admin Dashboard
    </h2>

    <p class="text-muted">
        Create and manage appointment bookings
    </p>


    <!-- Add appointment -->
    <div class="card shadow-sm p-3 mb-4">

        <h5>Add Appointment</h5>

        <form method="post"
              action="/Appointment/AddAppointment">

            <input name="PatientName"
                   placeholder="Patient Name"
                   class="form-control mb-2" />

            <input name="DoctorName"
                   placeholder="Doctor Name"
                   class="form-control mb-2" />

            <input type="date"
                   name="Date"
                   class="form-control mb-2" />

            <select name="Time" class="form-control mb-2">

                <option>9:00 AM</option>
                <option>9:30 AM</option>
                <option>10:00 AM</option>
                <option>10:30 AM</option>
                <option>11:00 AM</option>

                <option>1:00 PM</option>
                <option>1:30 PM</option>
                <option>2:00 PM</option>
                <option>2:30 PM</option>
                <option>3:00 PM</option>

            </select>

            <input name="Reason"
                   placeholder="Reason"
                   class="form-control mb-3" />

            <button class="btn btn-dark">
                Add Appointment
            </button>

        </form>

        <p class="text-danger">
            @ViewBag.Error
        </p>

    </div>


    <!-- Appointment list -->
    <h5>Appointments</h5>

    @foreach (var a in Model)
    {
        <div class="card shadow-sm p-3 mb-3">

            <b>@a.PatientName</b>

            <p class="mb-1">
                Doctor: @a.DoctorName
            </p>

            <p class="mb-1">
                Date: @a.Date.ToShortDateString()
            </p>

            <p class="mb-1">
                Time: @a.Time
            </p>

            <p class="mb-1">
                Reason: @a.Reason
            </p>

            <span class="badge bg-success">
                @a.Status
            </span>


            <div class="mt-2">

                <form method="post"
                      action="/Appointment/RemoveAppointment"
                      style="display:inline">

                    <input type="hidden"
                           name="id"
                           value="@a.Id" />

                    <button class="btn btn-sm btn-danger">
                        Delete
                    </button>

                </form>

            </div>

        </div>
    }

</div>